.delete-button {
  height: 100%;
  cursor: pointer;
  opacity: 0.6;
}

#cap {
  animation: close .3s forwards;
  transform-origin: right;
}

.delete-button:hover #cap {
  animation: open .3s forwards;
}

@keyframes open {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(15deg);
  }
}

@keyframes close {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(0);
  }
}