.svg-container {
  display: inline-block;
  width: 40%;
  max-width: 40rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .svg-container {
    display: block;
    margin: 5rem auto;
    min-width: 50rem;
  }
  .home {
    display: block;
  }
}