.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-image: radial-gradient(#FFCD4B 0%, #FFCC4A 60%, #FFB800 100%);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  padding: 0 15rem;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.navbar-logo-container {
  display: inline-block;
  width: 25%;
}

.navbar-buttons-container {
  display: inline-block;
  text-align: right;
  width: 75%;
}

@media (max-width: 600px) {
  .navbar-logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar-buttons-container {
    width: 100%;
  }
}