.notification {
  right: 3%;
  bottom: 5%;
  background-color:rgba(255, 230, 0, 0.5);
  border-radius: 10px;
  padding: 3rem;
  font-family: Montserrat;
  position: fixed;
  font-size: 1.4rem;
  max-width: 40rem;
  color: #7d7d7d;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}