.subject-card {
  display: inline-block;
  border-radius: 10px;
  border-width: 3px;
  border-color: #FFC267;
  border-style: solid;
  width: 25rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 2rem;
  margin-bottom: 3rem;
  transition: all .4s;
  cursor: pointer;
  overflow: hidden;
}

.subject-card:hover {
  transform: scale(1.02);
  filter: saturate(3);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.subject-card:active {
  transform: scale(0.99);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.subject-name {
  font-family: Rosario;
  font-size: 2.5rem;
  line-height: 3rem;
  padding: 0.6rem 0.7rem;
  width: 100%;
  color: #FFFFFF;
  background-image: linear-gradient(-75deg, #FFA51F 0%, #FFA51F 70%, #FFB546 70%);
  height: 7rem;
  vertical-align: middle;
}

.subject-desc {
  font-family: Montserrat;
  font-size: 2rem;
  line-height: 2.3rem;
  padding: 0.7rem;
  color: #7D7D7D;
}

.subject-img-container {
  width: 100%;
  /* border-radius: 10px 10px 0 0; */
  overflow-y: hidden;
  height: 15rem
}

.subject-img {
  width: 100%;
}

@media (max-width: 600px) {
  .subject-card {
    display: block;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto 10rem;
  }
  .subject-name {
    font-size: 4rem;
    line-height: 5rem;
    height: auto;
    padding: 2rem 0;
  }
  .subject-desc {
    font-size: 3rem;
    line-height: 4rem;
  }
}