.add-participant {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  padding-left: 2rem;
  /* padding: 1rem; */
  /* justify-content: center; */
}

/* .add-participant div {
  line-height: 1;
} */

.add-appear {
  display: inline-flex;
  padding: 0.3rem 3rem;
  align-items: center;
  margin: -1.5rem;
  height: 7.5rem;
  position: relative;
  bottom: 1.3rem;
  margin-left: -3rem;
}

.add-detail {
  display: inline-block;
}

.add-input {
  border: none;
  font-family: Montserrat;
  border-bottom: solid 1px #dddddd;
  padding: 0 0 1.2rem;
  margin: 0 1rem;
  font-size: 1.7rem;
  width: 40rem;
}

.add-input[name="name"] {
  max-width: 20rem;
}

.add-input[name="roll"] {
  max-width: 15rem;
}

.add-input::placeholder {
  color: #cccccc;
}

.add-input:focus {
  border-color: #aaaaaa;
  border-width: 1.5px;
  outline: none;
}

.add-button {
  display: inline-flex;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100px;
  text-align: center;
  font-size: 4rem;
  transition: all .4s;
  color: rgba(255, 184, 0, 0.5);
}

.add-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(255, 184, 0, 0.8);
}

.add-button button {
  all: unset;
  cursor: pointer;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100px;
}

.fas.fa-plus {
  line-height: 7.5rem;
}

/* .add-back {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
  text-align: center;
  line-height: 6rem;
  font-size: 4rem
} */
