.delete-popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 3rem;
  font-family: Montserrat;
  text-align: center;
  box-shadow: 0 0 0 100rem rgba(0,0,0,0.6);
  position: fixed;
  z-index: 1000;
}
.delete-popup h2 {
  font-size: 2.5rem;
  color: #7d7d7d
}
.delete-button-inside {
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
  color: white;
  background-color: #FFA51F;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 10rem;
  transition: all .2s;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.delete-button-inside:hover, .delete-button-inside:focus {
  background-color: #FFB546;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  transform: translate(0, -2px);
}
.delete-button-inside:active {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  transform: translate(0, 1px);
}