html {
  font-size: 62.5%;
}

body {
  padding: 13rem 15rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 37.5%;
  }
  body {
    text-align: center;
  }
}

@media (max-width: 600px) {
  /* html {
    font-size: 30%;
  } */
  body {
    padding: 13rem 5rem;
  }
}